.footer {
  margin-top: 2.5rem;
  height: 90px;
  background: #F8F8F8;
  position: relative;
  &__menu {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    & li:not(:last-child) {
      margin-right: 20rem;
    }
  }
}
