// Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

// Подключение файла для сброса стилей
@import "reset.css";

// Подключение стилей для отдельных компонентов
@import "header";
@import "hero";

// Переменные
$white: #FFF;
$lightgrey: #F8F8F8;

// Общие стили
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: transparent;
}

.wrapper {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.btn__cta {
  opacity: 1;
  font-size: 1.5rem;
  background: red;
  padding: 0.5rem 1rem;
  color: #FFFFFF;
  cursor: pointer;
  &:hover,
  &:focus {
    opacity: 0.85;
    text-decoration: underline;
    transition: all .5s ease-in-out;
  }
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 10;
  padding-top: 10px;
}
.header-nav__list__right__item:hover .dropdown {
  display: block;
  cursor: pointer;
  background: #FFFFFF;
  min-width: 250px;
  margin-right: 250px;
  padding-left: 10px;
  text-align: left;
  box-shadow: 0 3px 5px -1px #ccc;
}
.dropdown li {
  padding: 10px 0;
}

.dropdown li a {
  transition: all 0.5s ease;
}
.dropdown li a:hover {
  padding-left: 10px;
  border-left: 2px solid red;
  transition: all 0.3s ease;
}
