// Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

// Подключение файла для сброса стилей
@import "reset.css";

// Подключение стилей для отдельных компонентов
@import "header";
@import "hero";
@import "products";
@import "contacts";
@import "footer";

@import "all";
@import "armatures";

@import "dropdown";
@import "burger";
@import "search";

// Подключение плагина
@import "@fortawesome/fontawesome-free/css/all.min.css";


// Переменные
$white: #FFF;
$lightgrey: #F8F8F8;

// Общие стили
body,
html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #F8F8F8;
  font-size: 16px;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
}

.btn__cta {
  font-size: 1.5rem;
  background: red;
  padding: 0.5rem 1rem;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  &:hover,
  &:focus {
    outline: none;
    border: none;
    text-decoration: underline;
    transition: all .5s ease-in-out;
    color: #FFFFFF;
  }
}
